[submodule "Raiva/vendor/spdlog"]
	path = Raiva/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Raiva/vendor/GLFW"]
	path = Raiva/vendor/GLFW
	url = https://github.com/TheCherno/glfw
